<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /docs/
  RewriteRule ^$ app.html [R=302,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.*)$ $1.html [L]
</IfModule>
